<div class="flex flex-col items-center gap-4" *ngIf="!isLoggedIn()">
<div class="flex justify-center mt-4">
  <h1 class="text-3xl font-bold text-emerald-800">Client Flow Application</h1>
</div>
<div>
  <nav>
    <div class="flex">
      <a class="bg-gradient-to-r from-lime-500 to-cyan-500 px-4 py-[10px] text-white cursor-pointer" routerLink="/login" routerLinkActive="activebutton">Login</a>
      <div class="border"></div>
      <a class="bg-gradient-to-r from-purple-500 to-pink-500 px-4 py-[10px] text-white cursor-pointer" routerLink="/register" routerLinkActive="activebutton">Register</a>
    </div>
  </nav>
</div>
<!-- <router-outlet></router-outlet> -->
</div>
<div class="container mx-auto pt-[35px]">
  <router-outlet></router-outlet>
</div>
