<div class="flex justify-end">
	<a class="bg-gradient-to-r from-amber-300 to-yellow-800 px-4 py-[10px] text-white cursor-pointer mr-[55px] border border-yellow-500 hover:border-yellow-700 hover:text-gray-200 focus:outline-none active:bg-yellow-700 active:from-yellow-700 active:to-yellow-900" routerLink="/login" routerLinkActive="activebutton"  (click)="logout()" *ngIf="isLoggedIn()">Logout</a>
</div>
<div class="flex justify-center text-emerald-800 ">
	<h1>Contact us</h1>
</div>
<div>
	<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-[30px] justify-center items-center text-md">

  <div>
    <input matInput type="text" name="fullName" [formControl]="getFormControl('fullName')" placeholder="Full Name" class="custom-indent py-[10px] px-[18px] bg-gray-200 focus:outline-none focus:outline-gray-500 focus:border-gray-500 truncate...">
    <div *ngIf="f['fullName'].invalid && (f['fullName'].dirty || f['fullName'].touched)" class="text-red-500">
      <div *ngIf="f['fullName'].errors?.['required']" class="pt-[5px]">Full Name is required.</div>
    </div>
  </div>

  <div>
    <input matInput type="text" name="email" [formControl]="getFormControl('email')" placeholder="Email" class="custom-indent py-[10px] px-[18px] bg-gray-200 focus:outline-none focus:outline-gray-500 focus:border-gray-500 truncate...">
    <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="text-red-500">
      <div *ngIf="f['email'].errors?.['required']" class="pt-[5px]">Email is required.</div>
      <div *ngIf="f['email'].errors?.['email']" class="pt-[5px]">Invalid email format.</div>
    </div>
  </div>

  <div>
    <textarea matInput rows="5" name="message" [formControl]="getFormControl('message')" placeholder="Message" class="custom-indent py-[10px] px-[18px] bg-gray-200 focus:outline-none focus:outline-gray-500 focus:border-gray-500 truncate..."></textarea>
    <div *ngIf="f['message'].invalid && (f['message'].dirty || f['message'].touched)" class="text-red-500">
      <div *ngIf="f['message'].errors?.['required']" class="pt-[5px]">Message is required.</div>
    </div>
  </div>

  <div *ngIf="error" class="text-red-500">{{ error }}</div>

  <div>
    <button class="mt-[5px] px-4 py-[10px] bg-gradient-to-b from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900 text-white border border-blue-500 hover:border-blue-700 hover:text-gray-200 focus:outline-none active:bg-blue-700 active:from-blue-700 active:to-blue-900" type="submit" [disabled]="loading">Submit</button>
  </div>

</form>

</div>
