<div class="flex justify-center pt-[35px]" *ngIf="!isLoggedIn()">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-[30px] justify-center items-start text-md">

  <div>
    <input matInput type="text" name="firstName" [formControl]="getFormControl('firstName')" placeholder="First name" class="custom-indent py-[10px] px-[18px] bg-gray-200 focus:outline-none focus:outline-gray-500 focus:border-gray-500 truncate...">

    <div *ngIf="f['firstName'].invalid && (f['firstName'].dirty || f['firstName'].touched)" class="text-red-500">
      <div *ngIf="f['firstName'].errors?.['required']">First name is required.</div>
    </div>
  </div>

  <div>
    <input matInput type="text" name="lastName" [formControl]="getFormControl('lastName')" placeholder="Last name" class="custom-indent py-[10px] px-[18px] bg-gray-200 focus:outline-none focus:outline-gray-500 focus:border-gray-500 truncate...">

    <div *ngIf="f['lastName'].invalid && (f['lastName'].dirty || f['lastName'].touched)" class="text-red-500">
      <div *ngIf="f['lastName'].errors?.['required']">Last name is required.</div>
    </div>
  </div>

  <div>
    <input matInput type="text" name="userName" [formControl]="getFormControl('userName')" placeholder="User name" class="custom-indent py-[10px] px-[18px] bg-gray-200 focus:outline-none focus:outline-gray-500 focus:border-gray-500 truncate...">

    <div *ngIf="f['userName'].invalid && (f['userName'].dirty || f['userName'].touched)" class="text-red-500">
      <div *ngIf="f['userName'].errors?.['required']">User name is required.</div>
    </div>
  </div>

  <div>
    <input matInput type="text" name="email" [formControl]="getFormControl('email')" placeholder="email" class="custom-indent py-[10px] px-[18px] bg-gray-200 focus:outline-none focus:outline-gray-500 focus:border-gray-500 truncate...">

    <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="text-red-500">
      <div *ngIf="f['email'].errors?.['required']">Email is required.</div>
      <div *ngIf="f['email'].errors?.['email']">Invalid email format.</div>
    </div>
  </div>

  <div>
    <input matInput type="password" name="password" [formControl]="getFormControl('password')" placeholder="password" class="py-[10px] px-[18px] bg-gray-200 focus:outline-none focus:outline-gray-500 focus:border-gray-500 truncate...">

    <div *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)" class="text-red-500">
      <div *ngIf="f['password'].errors?.['required']">Password is required.</div>
    </div>
  </div>

  <div>
    <input matInput type="password" name="confirmPassword" [formControl]="getFormControl('confirmPassword')" placeholder="confirm password" class="py-[10px] px-[18px] bg-gray-200 focus:outline-none focus:outline-gray-500 focus:border-gray-500 truncate...">
    <div *ngIf="f['confirmPassword'].errors?.['passwordMismatch']" class="text-red-500">Passwords do not match.</div>
  </div>

  <div *ngIf="error" class="text-red-500">{{ error }}</div>

  <div>
  	<button class="mt-[5px] px-4 py-[10px] bg-gradient-to-b from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900 text-white border border-blue-500 hover:border-blue-700 hover:text-gray-200 focus:outline-none focus:border-blue-700 focus:ring focus:ring-blue-200 active:bg-blue-700 active:from-blue-700 active:to-blue-900" type="submit" [disabled]="loading">Register</button>
  </div>
</form>
</div>